@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-indigo-150 {
    --tw-bg-opacity: 1;
    background-color: rgb(138 159 189 / var(--tw-bg-opacity))
}

.bg-red-150 {
    --tw-bg-opacity: 1;
    background-color: rgb(237 168 168 / var(--tw-bg-opacity))
}

