@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-indigo-150 {
    --tw-bg-opacity: 1;
    background-color: rgb(138 159 189 / var(--tw-bg-opacity))
}

.bg-red-150 {
    --tw-bg-opacity: 1;
    background-color: rgb(240 161 161 / var(--tw-bg-opacity))
}

.hover\:bg-red-250:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(227 136 136 / var(--tw-bg-opacity));
}

.hover\:bg-indigo-250:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(114 140 176 / var(--tw-bg-opacity));
  }

  .bg-indigo-125 {
    --tw-bg-opacity: 1;
    background-color: rgb(165 180 201 / var(--tw-bg-opacity))
}

.text-indigo-600 {
  --tw-text-opacity: 1;
  color: rgb(93 117 150 / var(--tw-text-opacity));
}

  


